services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: on-failure
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    entrypoint: > # Downloading curl for healthcheck
      sh -lc "
        apt-get update &&
        apt-get install -y --no-install-recommends curl &&
        rm -rf /var/lib/apt/lists/* &&
        exec /qdrant/entrypoint.sh
      "
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -fsS http://localhost:6333/healthz >/dev/null || exit 1",
        ]
      interval: 2s
      timeout: 2s
      retries: 60
      start_period: 5s

  api:
    build: .
    restart: on-failure
    ports:
      - "8000:8000"
    volumes:
      - hf_cache:/app/.cache/huggingface
      - app_data:/app/data
    depends_on:
      qdrant:
        condition: service_healthy
    command:
      [
        "uvicorn",
        "teaching_assistant.api:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8000",
      ]

volumes:
  qdrant_storage:
  hf_cache:
  app_data:
